.controller{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
}
.productQuantity{
    border: 3px solid var(--gray-accent);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}
.leftArrow{
    padding: 1.2rem 1rem;
    cursor: pointer;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    transition: 200ms;
    border: none;
    background: none;
}
.leftArrow:hover{
    background-color: var(--gray-accent);
}
.leftArrow >img{
    width: 100%;
}

.rightArrow{
    background: none;
    border: none;
    padding: 1.2rem 1rem;
    cursor: pointer;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: 200ms;

}
.rightArrow:hover{
    background-color: var(--gray-accent);
}
.rightArrow >img{
    width: 100%;
}
.quantityNumber > h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 0.5rem;
}