.container{
    position: relative;
    border: 1px solid #000;
    border-radius: 20px;
    width: 17%;
    height: auto;
    margin: 0px auto;
    top: 150px;
    background: #BDCDD6;
    color: #000;
}
input{
    height: 30px;
    padding: 0px 15px;
}
.convert{
    text-align: center;
    margin: 30px 70px;
    font-weight: bold;
    font-size: 18px;
}
 .convert__content{
       display: block;
    text-align: left;
    margin: 0px 70px;
}
.convert__content p{
    top: -10px;
    position: relative;
    font-weight: 900;
}
.convert__vietnamese{
    padding: 20px 70px;
}
button{
    width: 50%;
    height: 40px;
    margin: 0px 80px;
    border-radius: 13px;
    background: #413543;
    border: 1px solid #000;
    color: white;
}
button:hover{
    background: none;
    border: 1px solid #000;
    color: #000;
    transition: 0.7s ease-in-out;
}